/*
* Colors
*/
$color-primary: #333333;
$color-secondary: #ffffff;
$color-orange: #FF6F61;
$color-orange-light: #FFE4E0;
$color-green: #87E871;
$color-green-dark: #257722;
$color-green-light: #D0FFC4;
$color-gray: #696969;

/**
* Fonts
*/
$font-GSKPrecision: "GSKPrecision", Arial, Helvetica, sans-serif;
$font-Poppins: "Poppins", Arial, Helvetica, sans-serif;
