.popup-grafico {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0; left: 0; right: 0; bottom: 0;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.45);
  transition: background 0.3s;

  &__overlay {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: transparent;
    cursor: pointer;
  }

  &__content {
    position: relative;
    background: #89181E;
    background: linear-gradient(180deg,rgba(137, 24, 30, 1) 0%, rgba(215, 70, 81, 1) 100%);
    border-radius: 24px;
    box-shadow: 0 8px 40px rgba(0,0,0,0.18);
    padding: 32px 32px 24px 32px;
    max-width: 95vw;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    animation: popupIn 0.3s cubic-bezier(.4,1.4,.6,1) both;
  }

  &.blue {
    .popup-grafico__content {
      background: #2A3C99;
      background: linear-gradient(180deg, rgba(42, 60, 153, 1) 0%, rgba(47, 98, 208, 1) 100%);
    }
  }

  &__close {
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 12px;
    margin-right: 0;
    padding: 0;
    align-self: flex-end;
    transition: transform 0.2s;
    position: absolute;
    top: 12px;
    right: 12px;

    &:hover {
      transform: scale(1.1) rotate(8deg);
    }
    svg {
      display: block;
      width: 40px;
      height: auto;
    }
  }

  &__img-wrapper {
    width: 100%;
    // max-width: 700px;
    max-height: 70vh;
    overflow-x: auto;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: 8px;
    img {
      display: block;
      max-width: 100%;
      max-height: 60vh;
      height: auto;
      border-radius: 12px;
      box-shadow: 0 1px 6px rgba(0,0,0,0.04);
    }
  }

  @media (max-width: 600px) {
    &__content {
      padding: 12px 4px 8px 4px;
      border-radius: 12px;
    }

    &__close {
      svg {
      width: 33px;
      }
    }
    &__img-wrapper {
      max-width: 98vw;
      max-height: 70vh;
      padding: 2px;
      justify-content: flex-start;
      img {
        min-width: 600px;
        max-width: none;
        width: auto;
        height: auto;
      }
    }
  }
}

@keyframes popupIn {
  0% { opacity: 0; transform: scale(0.92) translateY(40px); }
  100% { opacity: 1; transform: scale(1) translateY(0); }
}

body.popup-grafico-open {
  overflow: hidden;
}

// Popup de vídeo YouTube
.popup-video {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0; left: 0; right: 0; bottom: 0;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.8);
  transition: background 0.3s;

  &__overlay {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: transparent;
    cursor: pointer;
  }

  &__content {
    position: relative;
    background: #000;
    border-radius: 16px;
    box-shadow: 0 8px 40px rgba(0,0,0,0.5);
    max-width: 95vw;
    max-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    animation: popupIn 0.3s cubic-bezier(.4,1.4,.6,1) both;
  }

  &__close {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 0;
    padding: 0;
    align-self: flex-end;
    transition: all 0.2s;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-150%);
    transform-origin: center;

    &:hover {
      scale: 1.1;
    }

    svg {
      display: block;
      width: clamp(20px, 40px, 40px);
      height: auto;
    }
  }

  &__iframe-wrapper {
    width: 90vw;
    max-width: 854px;
    aspect-ratio: 16/9;
    position: relative;
    background: #000;
    border-radius: 12px;
    overflow: hidden;
    
    div, iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important;
      border-radius: 12px;
    }
  }

  @media (max-width: 960px) {
    &__content {
      max-width: 98vw;
      border-radius: 12px;
    }
    
    &__iframe-wrapper {
      max-width: 90vw;
      aspect-ratio: 16/9;
    }
  }

  @media (max-height: 400px) {
    &__content {
      max-height: 55vh;
    }
  }

  @media (max-width: 600px) {
    
    &__iframe-wrapper {
      max-width: 95vw;
      aspect-ratio: 16/9;
    }
  }
}

body.popup-video-open {
  overflow: hidden;
}
