.section-mecanismo-banner {
  position: relative;
  padding: clamp(20px, vw(32), 32px) clamp(25px, vw(32), 32px) 0;

  @media screen and (max-width: $break-tablet) {
    padding: clamp(20px, vw(32), 32px) 25px 0;
  }

  .box {
    background-image: url('../img/mecanismo/banner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: clamp(8px, vw(16), 16px);
    overflow: hidden;
    width: 100%;
    height: clamp(177px, vw(539), 539px);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding: 0 clamp(16px, vw(184), 184px);

    @media screen and (max-width: 600px) {
      background-image: url('../img/mecanismo/banner-mb.png');
      padding: 0 16px;
      align-items: flex-start;
    }

    h1 {
      font-family: $font-Poppins;
      font-weight: 300;
      color: $color-orange;
      font-size: clamp(22px, vw(100), 100px);
      margin-bottom: 0;
      max-width: 100%;
      text-align: right;

      @media screen and (max-width: 600px) {
        text-align: left;
      }
    }

    .txt-subtitle {
      font-weight: 300;
      font-size: clamp(12px, vw(42), 42px);
      margin-bottom: 0;
      max-width: 15em;
      text-align: right;

      @media screen and (max-width: 600px) {
        text-align: left;
      }
    }
  }
}