.section-eficacia-seguranca {
  position: relative;
  padding: 0;
  padding: clamp(65px, vw(110), 110px) clamp(25px, vw(245), 245px) clamp(30px, vw(58), 58px);

  @media screen and (max-width: $break-tablet) {
    padding: clamp(65px, vw(110), 110px) 25px clamp(30px, vw(58), 58px);
  }

  .tag {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-orange-light;
    border-radius: 999px;
    padding: clamp(7px, vw(8), 8px) clamp(17px, vw(18), 18px) clamp(7px, vw(8), 8px) clamp(10px, vw(16), 16px);
    width: fit-content;
    margin-bottom: clamp(8px, vw(24), 24px);

    @media screen and (max-width: $break-max-mobile) {
      margin-left: unset;
    }

    svg {
      width: clamp(19px, vw(28), 28px);
      height: auto;
      margin-right: 8px;
    }

    p {
      flex: 1;
      font-weight: 300;
      font-size: clamp(12px, vw(18), 18px);
      margin: 0;
      color: $color-orange;
    }
  }

  h2 {
    font-weight: 200;
    font-size: clamp(22px, vw(40), 40px);
    color: $color-primary;
    margin: 0 auto 0.4em;
    line-height: 1.5em;
    text-align: center;
    max-width: 25em;

    @media screen and (max-width: $break-max-mobile) {
      text-align: left;
    }
  }

  .subtitle {
    font-weight: 300;
    font-size: clamp(13px, vw(24), 24px);
    color: $color-gray;
    margin: 0 auto 1.37em;
    text-align: center;
    max-width: 41em;

    @media screen and (max-width: $break-max-mobile) {
      text-align: left;
    }
  }

  .box {
    width: 100%;
    border-radius: clamp(24px, vw(32), 32px);
    overflow: hidden;
    background-color: #EDEDED;
    position: relative;
    margin-bottom: 33px;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $color-orange;
      padding: clamp(16px, vw(29), 29px) clamp(31px, vw(75), 75px);

      @media screen and (max-width: $break-max-mobile) {
        flex-direction: column;
        align-items: flex-start;
      }

      .title {
        @media screen and (max-width: $break-max-mobile) {
          margin-bottom: 18px;
        }

        h3 {
          font-size: clamp(33px, vw(60), 60px);
          color: $color-secondary;
          margin: 0;
          line-height: 1.2em;
        }

        p {
          font-weight: 300;
          color: $color-secondary;
          font-size: clamp(13px, vw(17), 17px);
          margin: 0;
        }
      }

      button {
        color: $color-orange;
        border: none;
        outline: none;
        background-color: $color-secondary;
        border-radius: clamp(6px, vw(8), 8px);
        cursor: pointer;
        font-weight: 700;
        font-size: clamp(11px, vw(18), 18px);
        padding: 0.44em 1.33em;
        border-bottom: solid 0.27em #D74F42;
        transition: all .3s ease-in-out;

        &:hover {
          background-color: #e8e8e8;
        }
      }
    }

    .content {
      padding: clamp(20px, vw(40), 40px) clamp(20px, vw(72), 72px) clamp(20px, vw(40), 40px);
      position: relative;
      z-index: 1;
      width: 100%;

      @media screen and (max-width: $break-max-mobile) {
        width: 100%;
        padding: 24px 8px;
      }

      .top {
        p {
          font-weight: 700;
          text-align: center;
          font-size: clamp(16px, vw(32), 32px);
          margin-bottom: 1.25em;
          color: $color-orange;
        }
        
        .imgs {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          @media screen and (max-width: $break-max-mobile) {
            flex-direction: column;
          }

          .img-1 {
            width: clamp(359px, vw(749), 749px);
            height: auto;

            @media screen and (max-width: $break-max-mobile) {
              margin-bottom: 55px;
            }
          }

          .img-2 {
            width: clamp(235px, vw(449), 449px);
            height: auto;

            @media screen and (max-width: $break-max-mobile) {
              width: 245px;
            }
          }
        }
      }

      .line {
        width: 100%;
        height: 2px;
        background-color: #696969;
        border-radius: 99px;
        margin: clamp(22px, vw(60), 60px) 0;

        @media screen and (max-width: $break-max-mobile) {
          height: 1.5px;
        }
      }

      .bottom {
        p {
          font-weight: 700;
          text-align: center;
          font-size: clamp(16px, vw(32), 32px);
          margin: 0 auto 1.25em;
          color: $color-orange;
          max-width: 28em;
        }

        .imgs {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          @media screen and (max-width: $break-max-mobile) {
            flex-direction: column;
          }

          .swiper {
            margin: 0;
            max-width: 100%;
            padding-bottom: 20px;
            
            .swiper-wrapper {
              display: flex;
              
              .swiper-slide {
                width: 99%;
                height: auto;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;

                @media screen and (max-width: $break-max-mobile) {
                  width: auto;
                }

                .grafico {
                  width: auto;
                  
                  img {
                    width: clamp(469px, vw(895), 895px);

                    @media screen and (max-width: $break-max-mobile) {
                      width: 100%;
                      min-width: 469px;
                      max-width: 600px;
                    }
                  }
                }
              }
            }

            .swiper-scrollbar {
              background-color: $color-primary;
              height: 1px;
              border-radius: 99px;
              display: flex;
              align-items: center;

              .swiper-scrollbar-drag {
                background-color: $color-orange;
                border-radius: 99px;
                height: 3px;
              }
            }
          }


          p {
            text-align: left;
            font-size: clamp(14px, vw(23), 23px);
            color: $color-primary;
            font-weight: 300;
            margin: 0;
            width: auto;
            max-width: 12.5em;
            margin-left: 2.7em;

            @media screen and (max-width: $break-max-mobile) {
              margin-left: 0;
              max-width: unset;
              margin-top: 24px;
            }
          }
        }
      }
    }

    .persona {
      position: absolute;
      bottom: 0;
      right: 0;
      width: clamp(250px, vw(506), 506px);
      height: auto;
      z-index: 0;

      @media screen and (max-width: $break-max-mobile) {
        display: none;
      }
    }
  }

  .box-2 {
    margin-bottom: 0;

    .header {
      background-color: $color-green-dark;

      button {
        color: $color-green-dark;
        border-color: #275125;
      }
    }

    .content {
      padding: clamp(20px, vw(40), 40px) clamp(20px, vw(72), 72px) clamp(20px, vw(40), 40px);
      position: relative;
      z-index: 1;
      width: 100%;

      @media screen and (max-width: $break-max-mobile) {
        width: 100%;
        padding: 24px 8px;
      }

      .top {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;

        @media screen and (max-width: $break-max-mobile) {
          flex-direction: column;
        }

        p {
          font-weight: 700;
          color: $color-green-dark;
          text-align: center;
          font-size: clamp(16px, vw(32), 32px);
          margin-bottom: 1.25em;
          max-width: 28em;
        }

        .imgs {
          justify-content: space-between;

          .swiper {
            margin: 0;
            max-width: 100%;
            padding-bottom: 20px;
            
            .swiper-wrapper {
              display: flex;
              
              .swiper-slide {
                width: 99%;
                height: auto;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;

                @media screen and (max-width: $break-max-mobile) {
                  width: auto;
                }

                .grafico {
                  width: auto;
                  
                  img {
                    width: clamp(469px, vw(895), 895px);
                    margin: 0;

                    @media screen and (max-width: $break-max-mobile) {
                      width: 100%;
                      min-width: 469px;
                      max-width: 600px;
                    }
                  }
                }
              }
            }
            
          }

          .swiper-scrollbar-drag {
            background-color: $color-green-dark !important;
          }
          
          .img-2 {
            width: clamp(180px, vw(296), 296px);
            height: auto;

            @media screen and (max-width: $break-max-mobile) {
              margin-top: 20px;
              width: 250px;
            }
          }
        }
      }

      .line {
        width: 100%;
        height: 2px;
        background-color: #696969;
        border-radius: 99px;
        margin: clamp(22px, vw(30), 30px) 0;

        @media screen and (max-width: $break-max-mobile) {
          height: 1.5px;
        }
      }

      .bottom {
        p {
          max-width: 29em;
          color: $color-green-dark;
        }

        .imgs {
          justify-content: center;

          .img-2 {
            width: clamp(410px, vw(756), 756px);
            height: auto;
          }

          p {
            text-align: left;
            font-size: clamp(14px, vw(23), 23px);
            color: $color-primary;
            font-weight: 700;
            margin: 0;
            width: auto;
            max-width: 12.5em;
            margin-left: 2.7em;

            @media screen and (max-width: $break-max-mobile) {
              margin-left: 0;
              max-width: unset;
              margin-top: 24px;
            }
          }
        }
      }
    }

    .persona {
      position: absolute;
      bottom: 0;
      right: 0;
      width: clamp(250px, vw(506), 506px);
      height: auto;
      z-index: 0;

      @media screen and (max-width: $break-max-mobile) {
        display: none;
      }
    }
  }

  .popup {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.8);
      // backdrop-filter: blur(5px);
    }

    &__content {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__close {
      background: none;
      border: none;
      cursor: pointer;
      margin: 0;
      padding: 0;
      align-self: flex-end;
      transition: transform 0.2s;
      position: absolute;
      top: -20px;
      right: -20px;

      @media screen and (max-width: $break-tablet) {
        top: -30px;
        right: 0;
      }

      &:hover {
        transform: scale(1.1) rotate(8deg);
      }
      svg {
        display: block;
        width: 25px;
        height: auto;
      }
    }

    &__wrapper {
      background-color: $color-secondary;
      border-radius: clamp(16px, vw(32), 32px);
      padding: clamp(8px, vw(16), 16px);
      position: relative;
      width: clamp(100px, vw(1163), 95vw);

      @media screen and (max-width: $break-tablet) {
        width: 95vw;
      }
 
      .swiper {
        display: block;
        height: auto;
        max-height: 85dvh;

        .swiper-wrapper {
          .swiper-slide {
            max-height: 85dvh;
            overflow-y: auto;

            .title {
              text-align: center;
              font-weight: 700;
              font-size: clamp(12px, vw(20), 20px);
              margin: 0 auto 0.45em;
              max-width: 80%;

              @media screen and (max-width: $break-tablet) {
                max-width: unset;
              }
            }

            img {
              display: block;
              width: 100%;
              max-width: clamp(700px, vw(1000), 1000px);
              height: auto;
              margin: 0 auto 9px;
            }

            p.txt-bottom {
              font-weight: 300;
              font-size: clamp(8px, vw(14), 14px);
              margin: 0 auto;
              max-width: clamp(700px, 52.0833333333vw, 1000px);
            }
          }
        }
      }

      .swiper-button-prev,
      .swiper-button-next {
        cursor: pointer;
        line-height: unset;
        height: auto;
        width: unset;

        &:after {
          display: none;
        }

        svg {
          width: clamp(25px, vw(45), 45px);
          height: auto;
        }

        &.swiper-button-disabled {
          display: none;
        }
      }

      .swiper-button-prev {
        left: 0;
        transform: translateX(-150%);

        @media screen and (max-width: $break-tablet) {
          bottom: 0;
          top: unset;
          left: 50%;
          transform: translate(-105px, 122%);
          height: fit-content;
          width: fit-content;
        }
      }

      .swiper-button-next {
        right: 0;
        transform: translateX(150%);

        @media screen and (max-width: $break-tablet) {
          bottom: 0;
          top: unset;
          left: 50%;
          transform: translate(75px, 122%);
          height: fit-content;
          width: fit-content;
        }
      }

      .swiper-pagination {
        bottom: 0;
        left: 50%;
        transform: translateY(150%) translateX(-50%);
        display: flex;
        align-items: center;
        width: fit-content;

        .swiper-pagination-bullet {
          line-height: unset;
          width: 18px;
          height: 18px;
          border: solid 2px $color-secondary;
          background-color: transparent;
          opacity: 1;
          margin: 0;
          margin-right: 16px;
          transition: all .3s ease-in-out;

          &:last-child {
            margin-right: 0;
          }

          &-active {
            width: 15px;
            height: 15px;
            background-color: $color-secondary;
          }
        }
      }
    }
  }
}