.section-home {
  position: relative;
  padding-top: clamp(20px, vw(41), 41px);

  @media screen and (max-width: $break-tablet) {
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .img-product {
    width: clamp(150px, vw(181), 181px);
    height: auto;
    position: absolute;
    top: clamp(11px, vw(11), 11px);
    left: clamp(30px, vw(142), 142px);
    z-index: 2;

    @media screen and (max-width: $break-max-mobile) {
      display: none;
    }
  }

  .logo-link {
    position: absolute;
    top: clamp(28.5px, vw(41), 41px);
    right: clamp(22px, vw(150), 150px);

    @media screen and (max-width: $break-max-mobile) {
      display: none;
    }

    .logo-gsk {
      width: clamp(78px, vw(142), 142px);
      height: auto;
      z-index: 2;
    }
  }

  .content {
    position: relative;
    margin: 0 auto;
    width: clamp(717px, vw(1298), 1298px);
    height: clamp(387px, vw(783), 783px);
    max-width: 100%;

    @media screen and (max-width: $break-max-mobile) {
      min-width: 717px;
      position: absolute;
      left: 4%;
      transform: translateX(-50%);
      height: 600px;
      overflow: hidden;
    }
    

    .img-bg {
      position: absolute;
      top: 0;
      width: 74%;
      height: auto;
      left: 14%;

      @media screen and (max-width: $break-max-mobile) {
        width: 703px;
        left: 0;
      }
    }

    .img-title {
      position: absolute;
      top: clamp(130px, vw(237), 237px);
      width: 98.3%;
      height: auto;

      @media screen and (max-width: $break-max-mobile) {
        display: none;
      }
    }

    .persona {
      position: absolute;
      top: clamp(13px, vw(27), 27px);
      left: 37%;
      width: 39%;
      height: auto;

      @media screen and (max-width: $break-max-mobile) {
        width: 435px;
        top: 39px;
        left: 188px;
      }

      &__img {
        width: 100%;
        height: auto;

        @media screen and (max-width: $break-max-mobile) {
          transform: scaleX(-1);
        }
      }

      &__text {
        position: absolute;
        left: 7.5%;
        top: 18.7%;
        width: 72.7%;
        height: auto;

        @media screen and (max-width: $break-max-mobile) {
          display: none;
        }
      }
    }

    .img-logo-persona {
      display: none;
      position: absolute;
      top: 141px;
      left: 491px;
      width: 177px;
      height: auto;

      @media screen and (max-width: $break-max-mobile) {
        display: block;
      }
    }

    .filter {
      display: none;
      position: absolute;
      top: 325px;
      left: 0;
      width: 100%;
      height: 292px;

      @media screen and (max-width: $break-max-mobile) {
        display: block;
      }
    }

    h1 {
      font-size: clamp(16px, vw(32), 32px);
      width: 15em;
      position: absolute;
      left: 0;
      top: clamp(237px, vw(430), 430px);

      @media screen and (max-width: $break-max-mobile) {
        display: none;
      }
    }
  }

  .title-mb {
    font-size: 22px;
    width: 15em;
    max-width: 100%;
    position: relative;
    margin-top: 497px;
    display: none;
    margin-bottom: 38px;

    @media screen and (max-width: $break-max-mobile) {
      display: block;
    }
  }

  .cards {
    width: 100%;
    position: relative;

    .section-cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 0.68%;
      row-gap: 13px;

      @media screen and (max-width: $break-max-mobile) {
        grid-template-columns: 1fr;
      }

      .card {
        background-color: $color-secondary;
        border-radius: clamp(11px, vw(32), 32px);
        box-shadow: 4px 4px 20px rgb(0, 0, 0, 0.2);
        padding: clamp(14px, vw(16), 16px);
        display: flex;
        flex-direction: column;

        .banner {
          padding: clamp(27px, vw(42), 42px) clamp(16px, vw(32), 32px);
          border-radius: clamp(5px, vw(16), 16px);
          width: 100%;
          min-height: clamp(86px, vw(154), 154px);
          background-image: url('../img/home/banner-4.png');
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          overflow: hidden;
          margin-bottom: clamp(8px, vw(24), 24px);
          display: flex;
          align-items: center;

          p {
            margin: 0;
            font-size: clamp(14px, vw(30), 30px);
            font-weight: 700;
            color: $color-orange;
            width: 7em;
            line-height: 1.16em;

            @media screen and (max-width: $break-max-mobile) {
              width: 100%;
              font-size: 16px;
            }

            strong {
              font-weight: 700;
            }
          }
        }

        .card-content {
          padding-left: clamp(0.1px, vw(14), 14px);
        }

        .txt-1 {
          font-size: clamp(13px, vw(18), 18px);
          font-weight: 700;
          margin-bottom: 0.88em;

          @media screen and (max-width: $break-max-mobile) {
            font-size: 15px;
          }
        }

        .txt-2 {
          font-size: clamp(11px, vw(17), 17px);
          font-weight: 400;
          margin-bottom: 4em;

          @media screen and (max-width: $break-max-mobile) {
            font-size: 13px;
            margin-bottom: 0.88em;
          }
        }

        ul {
          padding-left: 1.8em;
          font-size: clamp(11px, vw(17), 17px);
          font-weight: 400;
          margin-bottom: 0.88em;

          @media screen and (max-width: $break-max-mobile) {
            font-size: 13px;
          }

          li {
            list-style-type: disc;
            margin-bottom: 1em;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        a {
          display: flex;
          align-items: center;
          margin-top: auto;
          margin-left: auto;
          background-color: $color-orange;
          border-radius: 9999px;
          padding: clamp(7px, vw(14), 14px);
          cursor: pointer;
          transition: all .3s ease-in-out;

          p {
            margin: 0;
            font-size: clamp(9px, vw(18), 18px);
            color: $color-secondary;
            font-weight: 400;
            padding-left: 0.88em;
            padding-right: 0.38em;
            transition: all .3s ease-in-out;
            white-space: nowrap;
            overflow: hidden;
            width: 0;
            padding: 0;
            opacity: 0;
            transition: all .3s ease-in-out;

            
          }

          svg {
            width: clamp(17px, vw(32), 32px);
            height: auto;
          }

          &:hover {
            p {
              padding-left: 0.88em;
              padding-right: 0.38em;
              width: 9.06em;
              opacity: 1;
              transition: all .3s ease-in-out, opacity 0.3s 0.3s ease-in-out;
            }
          }

          @media screen and (max-width: $break-max-mobile) {
            p {
              width: auto ;
              padding-left: 0.88em;
              padding-right: 0.38em;
              opacity: 1;
            }
          }
        }

        &-1 {
          .banner {
            background-image: url('../img/home/banner-4.png');

            @media screen and (max-width: $break-max-mobile) {
              background-image: url('../img/home/banner-4-mb.png');
            }
          }
        }

        &-2 {
          .banner {
            background-image: url('../img/home/banner-1.png');

            @media screen and (max-width: $break-max-mobile) {
              background-image: url('../img/home/banner-1-mb.png');
            }
          }
        }

        &-3 {
          .banner {
            background-image: url('../img/home/banner-2.png');

            @media screen and (max-width: $break-max-mobile) {
              background-image: url('../img/home/banner-2-mb.png');
            }
          }
        }

        &-4 {
          .banner {
            background-image: url('../img/home/banner-3.png');

            @media screen and (max-width: $break-max-mobile) {
              background-image: url('../img/home/banner-3-mb.png');
            }
          }
        }
      }
    }
  }
}